<div class="metadata">
    <div class="back">
        <i class="fa fa-chevron-left"
           aria-hidden="true"
           (click)="goBack()"></i>
    </div>
    <div class="avatar">
        <img [src]="post.author.avatar">
    </div>
    <div class="author">
        <span class="name blink-font" (click)="showAuthorPost();">{{ post.author.name }}</span>
        <span class="date">{{ post.publicationDate | FromNow }}</span>
    </div>
    <div class="modify">
        <button (click)="updatePost();" [hidden]="post.author.id!=defaultUser.id">Modify</button>
    </div>
    <div class="like">
        <likes-box [post]="post"></likes-box>
    </div>
</div>
<div class="post">
    <h3>{{ post.title }}</h3>
    <img *ngIf="post.media" [src]="post.media" class="u-max-full-width">
    <div class="html-text" [innerHtml]="plainTextToHtml(post.intro)"></div>
    <hr>
    <div class="html-text" [innerHtml]="plainTextToHtml(post.body)"></div>
    <category-box [categories]="post.categories" (categoryFilter)="postsByCategory($event);"></category-box>
</div>
